body {
  background: #eaeaea;
  font-family: "Segoe UI", sans-serif;
  padding: 40px;
}

.resume {
  width: 900px;
  margin: auto;
  display: flex;
  background: white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left {
  width: 32%;
  background: #2c4c63;
  color: white;
  padding: 30px;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  border: 4px solid white;
}

.role {
  font-size: 14px;
  opacity: 0.8;
}

.block {
  margin-top: 25px;
}

.block h3 {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  font-size: 16px;
}

.block ul {
  padding-left: 18px;
}

/* RIGHT SIDE */
.right {
  width: 68%;
  padding: 40px;
}

.right h1 {
  font-size: 20px;
  color: #2c4c63;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 20px;
}

.skill-box {
  display: inline-block;
  background: #2c4c63;
  color: white;
  padding: 6px 10px;
  margin: 6px;
  border-radius: 5px;
  font-size: 13px;
}

#aiResume {
  margin-top: 10px;
  background: #f3f3f3;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  white-space: pre-line;
}

button {
  margin-top: 15px;
  background: #ff8c00;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #ff6f00;
}
